In [18]:
import pandas as pd
import numpy as np

In [19]:
colnames = ['Price', 'Make', "Model", 'Year', 'Body Style', 'City', 'State', 'Milage', 'Color']
data1 = pd.read_csv('carlist1.csv', low_memory=False, names=colnames, header=None)
data2 = pd.read_csv('carlist2.csv', low_memory=False, names=colnames, header=None)
data3 = pd.read_csv('carlist3.csv', low_memory=False, names=colnames, header=None)
data4 = pd.read_csv('carlist4.csv', low_memory=False, names=colnames, header=None)
data5 = pd.read_csv('carlist5.csv', low_memory=False, names=colnames, header=None)
data6 = pd.read_csv('carlist6.csv', low_memory=False, names=colnames, header=None)
data7 = pd.read_csv('carlist7.csv', low_memory=False, names=colnames, header=None)
data8 = pd.read_csv('carlist8.csv', low_memory=False, names=colnames, header=None)
data9 = pd.read_csv('carlist9.csv', low_memory=False, names=colnames, header=None)
data10 = pd.read_csv('carlist10.csv', low_memory=False, names=colnames, header=None)
data11 = pd.read_csv('carlist11.csv', low_memory=False, names=colnames, header=None)
data12 = pd.read_csv('carlist12.csv', low_memory=False, names=colnames, header=None)
data13 = pd.read_csv('carlist13.csv', low_memory=False, names=colnames, header=None)
data14 = pd.read_csv('carlist14.csv', low_memory=False, names=colnames, header=None)
data15 = pd.read_csv('carlist15.csv', low_memory=False, names=colnames, header=None)
data16 = pd.read_csv('carlist16.csv', low_memory=False, names=colnames, header=None)
data17 = pd.read_csv('carlist17.csv', low_memory=False, names=colnames, header=None)
data18 = pd.read_csv('carlist18.csv', low_memory=False, names=colnames, header=None)
data19 = pd.read_csv('carlist19.csv', low_memory=False, names=colnames, header=None)
data20 = pd.read_csv('carlist20.csv', low_memory=False, names=colnames, header=None)

In [20]:
frames = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12, data13, data14, data15, data16, data17, data18, data19, data20]
all_data = pd.concat(frames)

In [21]:
all_data.head()

,Price,Make,Model,Year,Body Style,City,State,Milage,Color
0,364888.0,Lamborghini,Aventador S,2018,Convertible,New York,NY,3800.0,White
1,21000.0,Land Rover,Range Rover,2011,SUV,New York,NY,66000.0,Black
2,51500.0,Land Rover,Range Rover Velar,2018,SUV,New York,NY,16000.0,Blue
3,70000.0,BMW,M3,2017,Sedan,New York,NY,7400.0,Blue
4,16899.0,BMW,535,2013,Sedan,New York,NY,63000.0,Black

In [22]:
all_data.dtypes

Price         float64
Make           object
Model          object
Year           object
Body Style     object
City           object
State          object
Milage        float64
Color          object
dtype: object

In [23]:
print(len(all_data))
no_dups = all_data.drop_duplicates()
no_nan = no_dups.dropna()
print(len(no_dups))
print(len(no_nan))

6701309
538904
464558

In [24]:
no_nan.to_csv('all_data3.csv', index = False)

In [31]:
no_nan['Color'].unique()

array(['Red', 'Blue', 'Black', 'White', 'Orange', 'Silver', 'Gray',
       'Yellow', 'Gold', 'Other', 'Green', 'Brown', 'Beige', 'Purple',
       'Pink'], dtype=object)

In [53]:
df1 = pd.read_csv('all_data.csv',low_memory=False)
df2 = pd.read_csv('all_data2.csv',low_memory=False)
df3 = pd.read_csv('all_data3.csv',low_memory=False)

In [54]:
frames = [df1, df2, df3]
all_data = pd.concat(frames)

In [55]:
print(len(all_data))
no_dups = all_data.drop_duplicates()
no_nan = no_dups.dropna()
print(len(no_dups))
print(len(no_nan))

1760399
1184606
1184606

In [60]:
no_nan['Age'] = 2020 -  no_nan.Year.astype(int)
no_nan.pop('Year')

0         1965
1         1965
2         1994
3         1994
4         1994
          ...
464541    2017
464542    2014
464549    2020
464550    2019
464552    2017
Name: Year, Length: 1184606, dtype: int64

In [61]:
no_nan.head()

,Price,Make,Model,Body Style,City,State,Milage,Color,Age
0,49876,AC,Shelby Cobra,Convertible,Matthews,NC,1075,Red,55
1,44999,AC,Shelby Cobra,Convertible,Nashville,TN,12144,Blue,55
2,7500,Acura,Integra,Coupe,College Station,TX,153000,Red,26
3,7500,Acura,Integra,Coupe,College Station,TX,153000,Black,26
4,7500,Acura,Integra,Coupe,College Station,TX,153000,White,26

In [63]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

no_nan[['Milage', 'Age']] = min_max_scaler.fit_transform(no_nan[['Milage', 'Age']])

no_nan.head()

,Price,Make,Model,Body Style,City,State,Milage,Color,Age
0,49876,AC,Shelby Cobra,Convertible,Matthews,NC,0.000322,Red,0.500000
1,44999,AC,Shelby Cobra,Convertible,Nashville,TN,0.003643,Blue,0.500000
2,7500,Acura,Integra,Coupe,College Station,TX,0.045896,Red,0.241071
3,7500,Acura,Integra,Coupe,College Station,TX,0.045896,Black,0.241071
4,7500,Acura,Integra,Coupe,College Station,TX,0.045896,White,0.241071

In [64]:
no_nan.to_csv('comb_all_data.csv', index = False)

In [15]:
import scipy.stats as scs
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, precision_score

def eval(model, X, y):
    y_prdict = model.predict(X)
    rsme = np.sqrt(mean_squared_error(y,y_prdict))
    
    #precision = precision_score(y,y_prdict)
    
    y_base = np.ones(len(y))*y.median()
    rmse_base = np.sqrt(mean_squared_error(y,y_base))
    
    print(model)
    
    print('R2 of model: {:2.2f}'.format(r2_score(y,y_prdict)))
    
    print('RMSE of model: {:2.2f}'.format(mean_squared_error(y,y_prdict)))
    print('Base RMSE: {}'.format(rmse_base))
    
    print('Normalized RSME (RMSE of predict/RMSE of base) : {:2.2f}'.format(rsme/rmse_base))
    return rsme

In [22]:
dummies = no_nan.select_dtypes('object').columns
y = no_nan.pop('Price')
X = pd.get_dummies(no_nan, columns = dummies, dummy_na = True, prefix=dummies)

X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.20, random_state = 10)

KeyError: 'Price'

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

rfr = RandomForestRegressor(random_state = 10)

param_grid = { 'n_estimators': [200,500],
             'max_features': ['auto']}
CV_rfr = GridSearchCV( estimator = rfr, param_grid=param_grid, cv =5, verbose =1)
CV_rfr.fit(X_train, y_train)

In [ ]:
CV_rfr.best_params_

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier

In [ ]:
def create_model():
    model = Sequential()
    model.add(Dense())