In [1]:
import numpy as np
import pandas as pd
import scipy.stats as scs
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, precision_score




def eval(model, X, y):
    y_prdict = model.predict(X)
    rsme = np.sqrt(mean_squared_error(y,y_prdict))
    
    #precision = precision_score(y,y_prdict)
    
    y_base = np.ones(len(y))*y.median()
    rmse_base = np.sqrt(mean_squared_error(y,y_base))
    
    print(model)
    
    print('R2 of model: {:2.2f}'.format(r2_score(y,y_prdict)))
    
    print('RMSE of model: {:2.2f}'.format(mean_squared_error(y,y_prdict)))
    print('Base RMSE: {}'.format(rmse_base))
    
    print('Normalized RSME (RMSE of predict/RMSE of base) : {:2.2f}'.format(rsme/rmse_base))
    return rsme

In [2]:
colnames = ['Price', 'Make', "Model", 'Year', 'Body Style', 'City', 'State', 'Milage', 'Color']
data1 = pd.read_csv('carlist1.csv', low_memory=False, names=colnames, header=None)
data2 = pd.read_csv('carlist2.csv', low_memory=False, names=colnames, header=None)
data3 = pd.read_csv('carlist3.csv', low_memory=False, names=colnames, header=None)
data4 = pd.read_csv('carlist4.csv', low_memory=False, names=colnames, header=None)
data5 = pd.read_csv('carlist5.csv', low_memory=False, names=colnames, header=None)
data6 = pd.read_csv('carlist6.csv', low_memory=False, names=colnames, header=None)
data7 = pd.read_csv('carlist7.csv', low_memory=False, names=colnames, header=None)
data8 = pd.read_csv('carlist8.csv', low_memory=False, names=colnames, header=None)
data9 = pd.read_csv('carlist9.csv', low_memory=False, names=colnames, header=None)
data10 = pd.read_csv('carlist10.csv', low_memory=False, names=colnames, header=None)
data11 = pd.read_csv('carlist11.csv', low_memory=False, names=colnames, header=None)
data12 = pd.read_csv('carlist12.csv', low_memory=False, names=colnames, header=None)
data13 = pd.read_csv('carlist13.csv', low_memory=False, names=colnames, header=None)
data14 = pd.read_csv('carlist14.csv', low_memory=False, names=colnames, header=None)
data15 = pd.read_csv('carlist15.csv', low_memory=False, names=colnames, header=None)
data16 = pd.read_csv('carlist16.csv', low_memory=False, names=colnames, header=None)
data17 = pd.read_csv('carlist17.csv', low_memory=False, names=colnames, header=None)
data18 = pd.read_csv('carlist18.csv', low_memory=False, names=colnames, header=None)
data19 = pd.read_csv('carlist19.csv', low_memory=False, names=colnames, header=None)
data20 = pd.read_csv('carlist20.csv', low_memory=False, names=colnames, header=None)

frames = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12, data13, data14, data15, data16, data17, data18, data19, data20]
all_data = pd.concat(frames)

In [3]:
print(len(all_data))
no_dups = all_data.drop_duplicates()
no_nan = no_dups.dropna()
print(len(no_dups))
print(len(no_nan))

3583306
470230
406968

In [4]:
no_nan['Color'].unique()

array(['White', 'Black', 'Silver', 'Gray', 'Red', 'Other', 'Blue',
       'Green', 'Gold', 'Brown', 'Beige', 'Orange', 'Yellow', 'Purple',
       'Pink'], dtype=object)

In [5]:
dummies = no_nan.select_dtypes('object').columns
y = no_nan.pop('Price')
X = pd.get_dummies(no_nan, columns = dummies, dummy_na = True, prefix=dummies)

X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.20, random_state = 10)

In [8]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=1500, max_depth=5, verbose=1 , learning_rate=0.01)
gbr.fit(X_train, y_train)
eval(gbr, X_test,y_test)

      Iter       Train Loss   Remaining Time
         1  1364616498.4824         1171.22m
         2  1203002686.1994         1199.84m
         3  1071690408.7078         1212.50m
         4   964937211.7417         1211.46m
         5   877556813.6359         1210.75m
         6   866273721.1366         1215.40m
         7   796240463.4397         1216.06m
         8   787822997.0676         1217.36m
         9   732025410.0872         1215.96m
        10   685960656.6388         1208.01m
        20   534213056.9137         1130.42m
        30   492907244.8462         1057.53m
        40   473760766.2567         1007.60m
        50   453455875.3595          977.05m
        60   445533712.1473          948.69m
        70   420534184.3388          926.28m
        80   391308826.7040          908.25m
        90   380894123.0170          889.61m
       100   375980708.4945          868.17m
       200   245305574.2720          742.13m
       300   196574761.5076          664.48m
       400   176058510.7516          598.94m
       500   168600318.2762          539.09m
       600   142428042.4324          481.59m
       700   139553080.8665          426.01m
       800   105187368.1931          371.43m
       900   103091402.8877          317.38m
      1000    88638010.6271          258.31m
GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=1500,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=1, warm_start=False)
R2 of model: -0.86
RMSE of model: 822246752.86
Base RMSE: 21346.502858194155
Normalized RSME (RMSE of predict/RMSE of base) : 1.34

28674.84529797871

In [9]:
gbFI=pd.DataFrame({'feature': X.columns.values})
gbFI['weight']=gbr.feature_importances_
gbFI.sort_values(by='weight', ascending=False, inplace=True)
gbFI

                feature    weight
0                Milage  0.610297
2149  City_Midwest City  0.075359
484      Model_Explorer  0.065944
506        Model_Fiesta  0.052365
1280          Year_2019  0.038965
...                 ...       ...
1585   City_Cherryville  0.000000
1584      City_Cherokee  0.000000
1583       City_Chelsea  0.000000
1582        City_Chaska  0.000000
2783          Color_nan  0.000000

[2784 rows x 2 columns]